/* Block out what is behind the fixed column's header and footer */
/* line 6, C:/Ruby200/lib/ruby/gems/2.0.0/gems/jquery-datatables-rails-2.1.10.0.2/app/assets/stylesheets/dataTables/extras/dataTables.fixedColumns.css.scss */
table.DTFC_Cloned thead,
table.DTFC_Cloned tfoot {
  background-color: white;
}

/* Block out the gap above the scrollbar on the right, when there is a fixed
 * right column
 */
/* line 13, C:/Ruby200/lib/ruby/gems/2.0.0/gems/jquery-datatables-rails-2.1.10.0.2/app/assets/stylesheets/dataTables/extras/dataTables.fixedColumns.css.scss */
div.DTFC_Blocker {
  background-color: white;
}

/* line 18, C:/Ruby200/lib/ruby/gems/2.0.0/gems/jquery-datatables-rails-2.1.10.0.2/app/assets/stylesheets/dataTables/extras/dataTables.fixedColumns.css.scss */
div.DTFC_LeftWrapper table.dataTable,
div.DTFC_RightWrapper table.dataTable {
  margin-bottom: 0;
}

/* line 23, C:/Ruby200/lib/ruby/gems/2.0.0/gems/jquery-datatables-rails-2.1.10.0.2/app/assets/stylesheets/dataTables/extras/dataTables.fixedColumns.css.scss */
div.DTFC_LeftWrapper table.dataTable.no-footer,
div.DTFC_RightWrapper table.dataTable.no-footer {
  border-bottom: none;
}
