body {
  font: 13px sans-serif;
  background-color: white;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

table th{
  background-color:#f2f2f2;/*#d9cdb5;*/
}

.fixed {
  top: 0;
  left: 0;
  z-index: 1030;
  position: fixed;
  width: 100%;
  background-color: rgba(255,255,255,0.9);
  border: 1px;
}

.sub_fixed {
  padding-left: 5%;
  padding-right: 5%;
  width: 90%;
}

.rocm_wrapper {
  max-width:90%;
  margin:0 auto;
  padding-top: 45px;
}

.sliders_dropdown {
  /* Set the opacity level of the background and of the child elements */
  background-color: rgba(241, 241, 241, 0.7); /* Background */
  padding: 20px;
  top: 90px;
  left: 50px;
}

.sliders_dropdown * {
  background-color: rgba(241, 241, 241, 0.5); /* Background */
}

.auto_obj_test {
  /*display: none !important;*/
}

.slider_button {
  width: 25px;
  height: 20px;
  float: right;
}

.text_button {
  width: auto;
  height: 20px;
  float: right;
}

/* Parameter list (From clicking the '+' button) */
.ui_list .ui-selecting { 
  background: #FECA40;
}

.ui_list .ui-selected { 
  background: #F39814;
  color: white;
}

.ui_list { 
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.ui_list li { 
  margin: 3px;
  padding: 0.4em;
  /*height: 18px;*/
}