body {
  font: 12px sans-serif;
}

.space {
  background-color: black;
  background-image: none;
}

.orbit {
  stroke: none;
  fill: none;
}

.star {
  stroke: white;
  fill: white;
}

.black_hole {
  stroke: none;
  fill: none;
}
